.step {
	text-align: center;
	margin: 0em 1em;
	position: relative;
	// width: 15em;
	flex: 0 0 15em;
	

	& > h2 {
		font-size: 3rem;
		font-weight: normal;
		margin: .2em ;
	}

	& > p {
		font-weight: 300;
	}

	& > hr {
		border: 2px solid #47e4c2;
		margin: 0;
		width: 3em;
		position: absolute;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}