$small: 425px;
$medium: 768px;

.banner {
	background-image: url('../../assets/images/photo-couch_2x.jpg');
	background-size: cover;
	background-position: center;
	color: white;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 4em;
}

.content {
	width: 42%;
	@media screen and (max-width: $small) {
    width: 100%;
	}
	
	& > h3 {
		font-weight: normal;
	}
	
	& > h1 {
		font-weight: 300;
	}
}

.how-it-works > h2 {
	text-align: center;
	font-weight: 400;
	letter-spacing: .1em;
	margin: .3em;
}

.steps {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}